/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;               
}

/* Button Styling */
#resizeButton {
    padding: 10px 20px;
    font-size: 1.2rem;
    margin: 20px; 
    cursor: pointer;
}

/* Grid Container Styling */
.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 960px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

grid-square{
    background-color: lightgray;
    margin: 1px; 
    transition: background-color 0.2s ease; 
}

grid-square:hover{
    background-color: black;
}